# ── Dataset (trop lourd pour GitHub) ──
chest_xray/
*.jpeg
*.jpg
*.png

# ── Modèle sauvegardé ──
*.keras

# ── Environnement virtuel ──
.venv/
venv/
env/

# ── Python ──
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# ── Jupyter ──
.ipynb_checkpoints/
*.ipynb_checkpoints

# ── OS ──
.DS_Store
Thumbs.db
desktop.ini

# ── IDEs ──
.vscode/
.idea/
*.code-workspace